In [73]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pandas as pd
import numpy as np
#from sklearn.preprocessing import OneHotEncoder
#from sklearn.model_selection import cross_val_score
from  sklearn.model_selection import GridSearchCV, train_test_split
#from sklearn.metrics import classification_report
#from sklearn.ensemble import VotingClassifier, BaggingClassifier

In [74]:
df = pd.read_csv("../datasets/kc_house_data.csv")

In [75]:
df.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [77]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

## null이 포함된 특성은 없으며 object특성역시 int형 변환외에 크게 해줄게 없을것같음

In [78]:
df['date']=  pd.to_datetime(df['date'])

In [79]:
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  datetime64[ns]
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(15)
memory usage: 3.5 MB

In [82]:
df['date'] = df['date'].apply(lambda x: x.strftime('%Y%m%d'))
df["date"] = df["date"].astype(int)

## 시계열 분석은 따로 공부해본적이 없다 일단 datetime, int형 둘다 써보는걸로

In [16]:
X_train, y_train = df.drop("price", axis=1), df["price"]

In [35]:
X_train = X_train.drop("date", axis=1)

In [19]:
from sklearn.preprocessing import StandardScaler

In [22]:
###datetime을 떼거나 int형 변환을 해야할것 같다 Rf가 최적일 가능성이 높으니 일단 진행

#scaler = StandardScaler()
#X_train = scaler.fit_transform(X_train)

# ###########특성공학부분#################

In [85]:
X_train["yr_renovated"].value_counts()

0       20699
2014       91
2013       37
2003       36
2007       35
        ...
1948        1
1954        1
1951        1
1944        1
1959        1
Name: yr_renovated, Length: 70, dtype: int64

In [23]:
from sklearn.linear_model import ElasticNet, Lasso,  BayesianRidge, LassoLarsIC, LinearRegression
from sklearn.ensemble import RandomForestRegressor,  GradientBoostingRegressor
from sklearn.pipeline import make_pipeline
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error

In [29]:
rand_forest = RandomForestRegressor()
elastic = ElasticNet()
lasso = Lasso()

In [24]:
def score(model):
    model.fit(X_train, y_train)
    model_pred = model.predict(X_train)
    lin_mse = mean_squared_error(model_pred, y_train)
    lin_rmse = np.sqrt(lin_mse)
    return lin_rmse

In [25]:
rf_params = [
{'n_estimators': [10, 25, 30], 'max_features': [3, 5, 10], 
 'max_depth': [10, 50,60,  None], 'bootstrap': [True, False]}
]
lasso_params=[
    {
        "alpha": [0.001, 0.01, 0.1, 1, 10, 100, 1000]
    }
]
elastic_params = [
    {
         "alpha": [0.000001, 0.00001, 0.0001, 0.001, 0.01, 0.1, 1],
        "l1_ratio" : [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1, 1.1, 1.2, ]
    }
]

In [33]:
def tuneHyperparameters(model, params):

    gridSearch = GridSearchCV(model, params, verbose=0, cv=10, scoring="neg_mean_squared_error", n_jobs = -1)
    gridSearch.fit(X_train, y_train)
    bestParams, bestScore = gridSearch.best_params_,gridSearch.best_score_
    return bestScore, bestParams

In [36]:
model_names_to_tune = ["Random_forest","Lasso","Elastic"]
model_to_tune = [rand_forest, lasso, elastic]
model_params = [rf_params, lasso_params, elastic_params]
bestscores = list(map(tuneHyperparameters, model_to_tune, model_params))

C:\Users\hjhhi\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 398091300883989.5, tolerance: 291291676192.12994
  model = cd_fast.enet_coordinate_descent(
C:\Users\hjhhi\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [-4.09646126e+10 -4.09646125e+10 -4.09646123e+10 -4.09646122e+10
 -4.09646121e+10 -4.09646119e+10 -4.09646118e+10 -4.09646117e+10
 -4.09646116e+10 -4.09646114e+10 -4.09646113e+10             nan
             nan -4.09646321e+10 -4.09646293e+10 -4.09646266e+10
 -4.09646241e+10 -4.09646218e+10 -4.09646196e+10 -4.09646176e+10
 -4.09646158e+10 -4.09646141e+10 -4.09646126e+10 -4.09646113e+10
             nan             nan -4.09655583e+10 -4.09653912e+10
 -4.09652399e+10 -4.09651045e+10 -4.09649850e+10 -4.09648817e+10
 -4.09647946e+10 -4.09647239e+10 -4.09646697e+10 -4.09646321e+10
 -4.09646113e+10             nan             nan -4.10321012e+10
 -4.10206193e+10 -4.10099838e+10 -4.10002608e+10 -4.09915223e+10
 -4.09838458e+10 -4.09773158e+10 -4.09720235e+10 -4.09680683e+10
 -4.09655584e+10 -4.09646114e+10             nan             nan
 -4.27745008e+10 -4.25903937e+10 -4.23987137e+10 -4.21998783e+10
 -4.19948439e+10 -4.17854737e+10 -4.15751933e+10 -4.13702126e+10
 -4.11819406e+10 -4.10321039e+10 -4.09646120e+10             nan
             nan -4.78573786e+10 -4.76430875e+10 -4.74011831e+10
 -4.71222424e+10 -4.67922012e+10 -4.63892275e+10 -4.58777731e+10
 -4.51965160e+10 -4.42326642e+10 -4.27745641e+10 -4.09646182e+10
             nan             nan -5.46136761e+10 -5.41920822e+10
 -5.37240392e+10 -5.32020283e+10 -5.26169591e+10 -5.19576209e+10
 -5.12093363e+10 -5.03491213e+10 -4.93216726e+10 -4.78576919e+10
 -4.09646803e+10             nan             nan]
  warnings.warn(
C:\Users\hjhhi\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 437048825003033.06, tolerance: 291291676192.12994
  model = cd_fast.enet_coordinate_descent(

In [43]:
bestscores[0][1]

{'bootstrap': False, 'max_depth': 50, 'max_features': 10, 'n_estimators': 25}

In [48]:
estimator = RandomForestRegressor(bootstrap=False, max_depth=50, max_features=10, n_estimators=25)

In [49]:
estimator

RandomForestRegressor(bootstrap=False, max_depth=50, max_features=10,
                      n_estimators=25)

In [50]:
scores = cross_val_score(estimator, X_train, y_train, scoring="neg_mean_squared_error", n_jobs = -1, cv=10)

In [59]:
def displayscores(scores):
    print("Scores: ", scores)
    print("Mean: ", scores.mean())
    print("Standard deviation: ", scores.std())

In [57]:
rf_scores = np.sqrt(-scores)

In [60]:
displayscores(rf_scores)

Scores:  [132777.32519025 136731.78066275 114010.81067596 133584.23033729
 112164.61081148 136149.13029956 133696.3514559  125085.06225909
 127584.73932865 135293.59858215]
Mean:  128707.76396030995
Standard deviation:  8558.158427608902

### 특성공학 x rf평균이 약 13만정도 한 10만 아래를 타깃으로 잡아보면 될것같다
### 특성공학에 먼저 힘쓰고 모델은 마지막에 xgboost나 보팅, 앙상블부분 보고 4개를 한번에 수정해보자