In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pandas as pd
import numpy as np
#from sklearn.preprocessing import OneHotEncoder
#from sklearn.model_selection import cross_val_score
from  sklearn.model_selection import GridSearchCV, train_test_split
#from sklearn.metrics import classification_report
#from sklearn.ensemble import VotingClassifier, BaggingClassifier

In [2]:
df = pd.read_csv("../datasets/kc_house_data.csv")
df = df.sample(frac=1)

In [3]:
df.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
8328,2600020330,20140813T000000,1218000.0,4,2.75,3670,15400,2.0,0,3,...,10,3670,0,1986,0,98006,47.5581,-122.156,3370,13300
13684,2427910040,20140826T000000,515000.0,4,2.50,2890,15067,2.0,0,0,...,9,2890,0,2003,0,98024,47.5666,-121.907,3090,15398
13736,4475800065,20140613T000000,459950.0,3,1.75,1850,6869,1.0,0,2,...,6,1100,750,1919,1934,98166,47.4648,-122.363,1850,10096
11319,3396830310,20150407T000000,729000.0,4,2.50,2450,27081,2.0,0,0,...,8,2450,0,1985,0,98052,47.7177,-122.104,2630,12025
17416,7227501190,20150427T000000,250000.0,3,1.00,1220,5038,1.0,0,0,...,6,1220,0,1942,0,98056,47.4960,-122.189,1140,5038
1200,11900140,20140509T000000,254000.0,3,2.50,1850,4597,2.0,0,0,...,8,1850,0,2003,0,98042,47.3755,-122.136,2210,5000
2201,7853240560,20140903T000000,585000.0,4,2.50,3110,6479,2.0,0,0,...,9,3110,0,2005,0,98065,47.5408,-121.861,3110,7075
8147,9422400035,20140912T000000,477500.0,2,2.00,2090,6000,2.0,0,1,...,7,2090,0,1918,1985,98116,47.5732,-122.413,1600,5400
8216,7302900090,20150218T000000,555000.0,4,2.25,3330,21785,2.0,0,0,...,9,3330,0,1994,0,98059,47.4725,-122.136,3330,21796
1096,4366700140,20141219T000000,241000.0,3,1.00,1010,9611,1.0,0,0,...,6,1010,0,1973,0,98092,47.3006,-122.066,1200,9611

In [4]:
df.corr()["price"].sort_values(ascending=False)

price            1.000000
sqft_living      0.702035
grade            0.667434
sqft_above       0.605567
sqft_living15    0.585379
bathrooms        0.525138
view             0.397293
sqft_basement    0.323816
bedrooms         0.308350
lat              0.307003
waterfront       0.266369
floors           0.256794
yr_renovated     0.126434
sqft_lot         0.089661
sqft_lot15       0.082447
yr_built         0.054012
condition        0.036362
long             0.021626
id              -0.016762
zipcode         -0.053203
Name: price, dtype: float64

In [5]:
df['date']=  pd.to_datetime(df['date'])

In [6]:
df['date'] = df['date'].apply(lambda x: x.strftime('%Y%m%d'))
df["date"] = df["date"].astype(int)

# ###########특성공학부분################# 
### 데이터의 수가 적으며 사용할 수 있는 모델이 제한되어있으므로 대부분은 사용하지 않았다

In [7]:
### df를 그냥 건드리긴 할껀데 일단 y값은 시각화를 위해 필요하다
X, y = df.drop("price", axis=1), df["price"]

In [8]:
#일단 얘를 Bool형으로 바꿔주자
#X["yr_renovated"].value_counts()

In [9]:
#X["yr_renovated"] = X["yr_renovated"] != 0

In [10]:
#X["yr_renovated"].value_counts()

In [11]:
#sns.barplot(X["yr_renovated"], y)

In [12]:
# 0아니면 8에 큰문제가 있다
#sns.barplot(X["bedrooms"], y)

In [13]:
#X["bedrooms"].value_counts()

In [14]:
# 그래프 패턴이 좀 이상하니 9 이상, 1이하를 모아주자
#X["bedrooms"][X["bedrooms"] > 7] =7
#X["bedrooms"][X["bedrooms"] < 1] =1

In [15]:
### 조금 더 봐줄만은하다
#sns.barplot(X["bedrooms"], y)

In [16]:
#X["lat"]

In [17]:
#X["lat"] = X["lat"]*100
#X["lat"] = X["lat"].astype(int)

In [18]:
#sns.displot(X["lat"])

In [19]:
#X["lat"][X["lat"] < 4720].value_counts()

In [20]:
#X["lat"][X["lat"] < 4720] =4720

In [21]:
#X["long"].value_counts()

In [22]:
#X["long"] = X["long"]*100
#X["long"] = X["long"].astype(int)

In [23]:
#sns.displot(X["long"])

In [24]:
#X["long"][X["long"] > -12170] = -12170
#X["long"][X["long"] < -12240] = -12240

In [25]:
#sns.displot(X["long"])

In [26]:
#sns.scatterplot(X["lat"], y)

In [27]:
#X["sqft_lot"].value_counts()

In [28]:
#sns.displot(X["sqft_lot"])

In [29]:
#X["sqft_lot"][X["sqft_lot"] > 30000] =30000

In [30]:
#sns.regplot(X["sqft_lot"], y)

In [31]:
#sns.displot(X["sqft_lot"])

In [8]:
X["temp"] = X["long"]+X["lat"]

# 이 아래는 모델단이므로 하나하나 보면서 실행할 수 있을것

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [14]:
from sklearn.linear_model import ElasticNet, Lasso,  BayesianRidge, LassoLarsIC, LinearRegression, SGDRegressor
from sklearn.ensemble import RandomForestRegressor,  GradientBoostingRegressor, ExtraTreesRegressor
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score, train_test_split, RandomizedSearchCV
from sklearn.metrics import mean_squared_error

In [24]:
grad_boost = GradientBoostingRegressor(max_features= 5, max_depth= 7, learning_rate= 0.1)
grad_boost.fit(X_train, y_train)

GradientBoostingRegressor(max_depth=7, max_features=5)

In [25]:
predicted = grad_boost.predict(X_test)
train_predicted = grad_boost.predict(X_train)
train_mse = mean_squared_error(y_train, train_predicted)
mse = mean_squared_error(y_test, predicted)
rmse = np.sqrt(mse)
train_rmse = np.sqrt(train_mse)
print(train_rmse, rmse)

63628.4193692385 116343.25231706846

In [26]:
def displayscores(scores):
    print("Scores: ", scores)
    print("Mean: ", scores.mean())
    print("Standard deviation: ", scores.std())

In [27]:
scores = cross_val_score(grad_boost, X, y, scoring="neg_mean_squared_error", n_jobs = -1, cv=10)
displayscores(np.sqrt(-scores))

Scores:  [110550.74784358 113084.48141847 112448.57572939 112017.64600455
 116982.53054743 142442.67930037 128317.2749704  121572.67510596
 110075.59938454 104254.03895362]
Mean:  117174.6249258307
Standard deviation:  10530.364035218541

In [124]:
model = GradientBoostingRegressor()

param_grid = {
    'learning_rate':[0.008, 0.01, 0.05, 0.1],
    'max_depth':[3, 5, 7, 10, 20, 30],
    'max_features': np.arange(3, 7)    
}

clf = RandomizedSearchCV(model, param_grid,n_iter=10,cv=3, scoring='neg_mean_squared_error',      verbose=1,    n_jobs=-1
)

In [125]:
clf.fit(X_train, y_train)

Fitting 3 folds for each of 10 candidates, totalling 30 fits

RandomizedSearchCV(cv=3, estimator=GradientBoostingRegressor(), n_jobs=-1,
                   param_distributions={'learning_rate': [0.008, 0.01, 0.05,
                                                          0.1],
                                        'max_depth': [3, 5, 7, 10, 20, 30],
                                        'max_features': array([3, 4, 5, 6])},
                   scoring='neg_mean_squared_error', verbose=1)

In [126]:
clf.best_params_

{'max_features': 6, 'max_depth': 20, 'learning_rate': 0.1}