In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pandas as pd
import numpy as np
#from sklearn.preprocessing import OneHotEncoder
#from sklearn.model_selection import cross_val_score
from  sklearn.model_selection import GridSearchCV, train_test_split
#from sklearn.metrics import classification_report
#from sklearn.ensemble import VotingClassifier, BaggingClassifier

In [2]:
df = pd.read_csv("../datasets/kc_house_data.csv")

In [3]:
df.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [3]:
df.corr()["price"].sort_values(ascending=False)

price            1.000000
sqft_living      0.702035
grade            0.667434
sqft_above       0.605567
sqft_living15    0.585379
bathrooms        0.525138
view             0.397293
sqft_basement    0.323816
bedrooms         0.308350
lat              0.307003
waterfront       0.266369
floors           0.256794
yr_renovated     0.126434
sqft_lot         0.089661
sqft_lot15       0.082447
yr_built         0.054012
condition        0.036362
long             0.021626
id              -0.016762
zipcode         -0.053203
Name: price, dtype: float64

In [4]:
df['date']=  pd.to_datetime(df['date'])

In [5]:
df['date'] = df['date'].apply(lambda x: x.strftime('%Y%m%d'))
df["date"] = df["date"].astype(int)

# ###########특성공학부분################# 
### 데이터의 수가 적으며 사용할 수 있는 모델이 제한되어있으므로 대부분은 사용하지 않았다

In [7]:
### df를 그냥 건드리긴 할껀데 일단 y값은 시각화를 위해 필요하다
X, y = df.drop("price", axis=1), df["price"]

In [8]:
#일단 얘를 Bool형으로 바꿔주자
#X["yr_renovated"].value_counts()

In [9]:
#X["yr_renovated"] = X["yr_renovated"] != 0

In [10]:
#X["yr_renovated"].value_counts()

In [11]:
#sns.barplot(X["yr_renovated"], y)

In [12]:
# 0아니면 8에 큰문제가 있다
#sns.barplot(X["bedrooms"], y)

In [13]:
#X["bedrooms"].value_counts()

In [14]:
# 그래프 패턴이 좀 이상하니 9 이상, 1이하를 모아주자
#X["bedrooms"][X["bedrooms"] > 7] =7
#X["bedrooms"][X["bedrooms"] < 1] =1

In [15]:
### 조금 더 봐줄만은하다
#sns.barplot(X["bedrooms"], y)

In [16]:
#X["lat"]

In [17]:
#X["lat"] = X["lat"]*100
#X["lat"] = X["lat"].astype(int)

In [18]:
#sns.displot(X["lat"])

In [19]:
#X["lat"][X["lat"] < 4720].value_counts()

In [20]:
#X["lat"][X["lat"] < 4720] =4720

In [21]:
#X["long"].value_counts()

In [22]:
#X["long"] = X["long"]*100
#X["long"] = X["long"].astype(int)

In [23]:
#sns.displot(X["long"])

In [24]:
#X["long"][X["long"] > -12170] = -12170
#X["long"][X["long"] < -12240] = -12240

In [25]:
#sns.displot(X["long"])

In [26]:
#sns.scatterplot(X["lat"], y)

In [27]:
#X["sqft_lot"].value_counts()

In [28]:
#sns.displot(X["sqft_lot"])

In [29]:
#X["sqft_lot"][X["sqft_lot"] > 30000] =30000

In [30]:
#sns.regplot(X["sqft_lot"], y)

In [31]:
#sns.displot(X["sqft_lot"])

In [33]:
X["temp"] = X["long"]+X["lat"]

# 이 아래는 모델단이므로 하나하나 보면서 실행할 수 있을것

In [54]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import cross_val_score, train_test_split, RandomizedSearchCV
from sklearn.metrics import mean_squared_error

# 일단 수시로 돌리며 테스트해볼 코드를 만들어 둔다
# 시간 단축을 위해 Train, test set으로 확인해보겠다

# 아랫단은 가장 마지막 테스트 코드이다

In [134]:
grad_boost = GradientBoostingRegressor(max_features= 5, max_depth= 7, learning_rate= 0.1)
#grad_boost.fit(X_train, y_train)

### 테스트용 코드

In [128]:
# predicted = grad_boost.predict(X_test)
# train_predicted = grad_boost.predict(X_train)
# train_mse = mean_squared_error(y_train, train_predicted)
# mse = mean_squared_error(y_test, predicted)
# rmse = np.sqrt(mse)
# train_rmse = np.sqrt(train_mse)
# print(train_rmse, rmse)

62546.1696645208 117379.93957755453

# 제출 코드

In [115]:
def displayscores(scores):
    print("Scores: ", scores)
    print("Mean: ", scores.mean())
    print("Standard deviation: ", scores.std())

In [135]:
scores = cross_val_score(grad_boost, X, y, scoring="neg_mean_squared_error", n_jobs = -1, cv=10)
displayscores(np.sqrt(-scores))

Scores:  [122932.63330808 130561.06609892 107020.44386967 129436.63605032
 107842.19702357 111119.21263937 120197.98158024 107946.86641832
 109843.66099816 128735.68205186]
Mean:  117563.6380038523
Standard deviation:  9326.081603884608

### Hyper parameter searching

In [129]:
model = GradientBoostingRegressor()

param_grid = {
    'learning_rate':[0.008, 0.01, 0.05, 0.1],
    'max_depth':[3, 5, 7, 10, 20, 30, 50],
    'max_features': np.arange(3, 10)    
}

clf = RandomizedSearchCV(model, param_grid,n_iter=30,cv=3, scoring='neg_mean_squared_error',      verbose=1,    n_jobs=-1
)

In [130]:
clf.fit(X_train, y_train)

Fitting 3 folds for each of 30 candidates, totalling 90 fits

RandomizedSearchCV(cv=3, estimator=GradientBoostingRegressor(), n_iter=30,
                   n_jobs=-1,
                   param_distributions={'learning_rate': [0.008, 0.01, 0.05,
                                                          0.1],
                                        'max_depth': [3, 5, 7, 10, 20, 30, 50],
                                        'max_features': array([3, 4, 5, 6, 7, 8, 9])},
                   scoring='neg_mean_squared_error', verbose=1)

In [126]:
clf.best_params_

{'max_features': 6, 'max_depth': 20, 'learning_rate': 0.1}